<div class="card character-show-container">
  <div class="character-show-inner-container">
    <div>
      <!-- name and description -->
      <div id="character_name">
        <%= @character.name.upcase %>
      </div>
      <div>
        <div style="text-align: justify;">
        <div class="desc">
          <%= @character.story %>
          <div class="background">
            <p>Background: <%= @character.background %></p>
            <p>Personality traits: <%= @character.personality_traits %></p>
            <p>Ideal: <%= @character.ideal %></p>
            <p>Bond: <%= @character.bond %></p>
            <p>Flaw: <%= @character.flaw %></p>
          </div>
          <div class="char-background">
            <div class="char-background-grid">
              <div>
              </div>
              <div class="my-background">
                <p>MY BACKGROUND: <%= @character.background.upcase %></p>
              </div>
              <div class="background-details">
              <p><b>Personality traits</b> <%= @character.personality_traits %></p>
              </div>
              <div class="background-details">
              <p><b>Ideal</b> <%= @character.ideal %></p>
              </div>
              <div class="background-details">
              <p><b>Bond</b> <%= @character.bond %></p>
              </div>
              <div class="background-details">
              <p><b>Flaw</b> <%= @character.flaw %></p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div>
      <!-- image -->
      <%= image_tag @character.photo, class:"image" %>
    </div>
  </div>
</div>
