<div class="car-card-wrapper">
  <div class="car-card-img-wrapper">
    <%= image_tag @character.photo, class: "image" %>
  </div>
  <div class="car-info-wrapper">
    <div class="car-info-padding">
      <h1><%= @character.name.upcase %></h1>
      <p><%= @character.story %></p>
      <div class="flex-std">
        <% if @character.full == true %>
        <div class="card-info-content">
          <h2>RACE, CLASS, ALIGNMENT</h2>
          <p><%= @character.race.capitalize %>, <%= @character.job.capitalize %>, <%= @character.alignment.capitalize %></p>
        </div>
        <% end %>
        <div class="card-info-content">
          <h2>MY BACKGROUND</h2>
          <p><%= @character.background %></p>
        </div>
      </div>
      <div class="flex-std">
        <div class="card-info-content">
          <h2>PERSONALITY TRAITS</h2>
          <p><%= @character.personality_traits.split('.')[0] %>. <%= @character.personality_traits.split('.')[1] %>.</p>
        </div>
        <div class="card-info-content">
          <h2>IDEAL</h2>
          <p><%= @character.ideal %></p>
        </div>
      </div>

      <div class="flex-std">
        <div class="card-info-content">
          <h2>BOND</h2>
          <p><%= @character.bond %></p>
        </div>
        <div class="card-info-content">
          <h2>FLAW</h2>
          <p><%= @character.flaw %></p></p>
        </div>
      </div>
      <% unless @character_params.nil? %>
        <%= simple_form_for @character do |f| %>
        <%= f.input :story, as: :hidden %>
        <% @character_params.each do |attribute, value| %>
          <%= f.input attribute.to_sym, as: :hidden %>
        <% end %>
        <div class= "banner-buttons margin-top">
          <%= link_to 'RANDOM AGAIN', new_generation_path, class: "btn btn-primary char-button" %>
          <%= f.button :submit, "SAVE THIS", class: "btn btn-primary char-button" %>
        </div>
        <% end %>
      <% end %>
      <div class="banner-buttons margin-top">
        <% unless @character.id.nil? %>
        <% if  @character.user == current_user  %>
          <%= link_to 'DELETE', { action: :destroy, id: @character.id }, method: :delete, class:"btn" %>
          <%= link_to 'SHARE', { action: :share, id: @character.id }, method: :post, class:"btn" %>
        <% else %>
          <%= link_to 'BUY A PINT', { action: :buy_pint, id: @character.id }, method: :post, class:"btn" %>
      <div class="rating">
        <p><%= @character.rating %></p><%= image_tag "pint.png", alt:"PINT", size: "50x50", class:"pint-icons" %>
      </div>
        <% end %>
        <% end %>
      </div>
      </div>
  </div>
</div>
