<div class="navbar-wagon sticky">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "snake.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="menu-icons">
      <%= link_to image_tag('tavern.png', alt: "TAVERN", title: "TAVERN"), tavern_path, class:"icons tavern"%>
      <%= link_to image_tag('dice.png', alt: "QUICK STORY", title: "QUICK STORY"), new_generation_path, class:"icons dice"%>
      <%= link_to image_tag('quill_pen.png', alt: "CUSTOM STORY", title: "CUSTOM STORY"), new_character_path, class:"icons quill"%>
      <%= link_to image_tag('dark_knight_helmet.png', alt: "MY CHARACTERS", title: "MY CHARACTERS"), characters_path, class:"icons helmet"%>
    </div>

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i style="color: white", class="fa fa-sign-out"></i>  <%= t(".sign_out", style: "color: white",default: "Log out") %>
      <% end %>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
