<div class="character-build">
  <div class="build-form">
    <%= simple_form_for @character, html: {id: "attributes"} do |f| %>
      <%= f.label :name, "Name", id: "name-label"%>
      <%= f.input_field :name, as: :string, class:"form-control" %>
      <%= f.label :race, "Race" %>
      <%= f.input_field :race, as: :select, collection: @races, class:"form-control", id:"race" %>
      <%= f.label :job, "Class" %>
      <%= f.input_field :job, as: :select, collection: @jobs, class:"form-control" %>
      <%= f.label :alignment, "Alignment" %>
      <%= f.input_field :alignment, as: :select, collection: @alignments, class:"form-control" %>
      <%= f.label :background, "Background" %>
      <%= f.input_field :background, as: :select, collection: @backgrounds, class:"form-control" %>
      <%= f.button :button, "CONFIRM", id:"confirm" %>
    <% end %>
  </div>
  <div class="character-sheet">
    <div class="character-sheet-head">
      <%= image_tag "top_edge.png", class:"paper"%>
    </div>
    <div class="character-sheet-body">
      <div>
        <h3>CHARACTER SHEET</h3>
      </div>
      <div class="stats">
      </div>
    </div>
    <div>
      <%= image_tag "bottom_edge.png", class:"paper"%>
    </div>
  </div>
</div>

