<div id="character_attributes" data-character_attributes="<%= JSON.generate(@backgrounds) %>"></div>

<div class="character-build-container">
  <div class="character-build">

          <div class="character-attribute-section" id="race-selection">
            <div class="name-wrapper">
              <h1 >Name</h1>
              <%= text_field_tag "name", "", id: "character-name", class:"type-name" %>
            </div>
            <h1 style="width: 100%">Race</h1>
            <div class="container">
              <div class="row">
                <% @races.each do |race| %>
                  <div class="col-xs-6">
                    <div class="character-choice chacter-select-btn" data-attribute="race" data-value="<%= race %>" data-parent_id="race-selection">
                      <%= radio_button_tag "race", race, id: "race-#{race}" %>
                      <%= label_tag "race-#{race}", race.capitalize %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>


          <div class="character-attribute-section" id="job-selection" style="display: none;">
            <h1>Class</h1>
            <div class="container">
              <div class="row">
                <% @jobs.each do |job| %>
                <div class="col-xs-6">
                  <div class="character-choice chacter-select-btn" data-attribute="job" data-value="<%= job %>" data-parent_id="job-selection">
                    <%= radio_button_tag "job", job, id: "job-#{job}" %>
                    <%= label_tag "job-#{job}", job.capitalize %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>



          <div class="character-attribute-section" id="background-selection" style="display: none;">
            <h1>Background</h1>
            <div class="container">
              <div class="row">
                <% @backgrounds.keys.each do |background| %>
                  <div class="col-xs-6">
                    <div class="character-choice chacter-select-btn" data-parent_id="background-selection" data-attribute="background" data-value="<%= background %>" data-value="<%= background %>">
                      <%= radio_button_tag "background", background, id: "background-#{background}" %>
                      <%= label_tag "background-#{background}", background.capitalize %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>



          <div class="character-attribute-section" id="alignment-selection" style="display: none;">
            <h1>Moral Alignment</h1>
            <div class="container">
              <div class="row">
              <% @alignments.each do |alignment| %>
                <div class="col-xs-6">
                  <div class="character-choice chacter-select-btn" data-parent_id="alignment-selection" data-attribute="alignment" data-value="<%= alignment %>">
                    <%= radio_button_tag "alignment", alignment, id: "alignment-#{alignment}" %>
                    <%= label_tag "alignment-#{alignment}", alignment.capitalize %>
                  </div>
                </div>
              <% end %>
              </div>
            </div>
          </div>



          <div class="character-attribute-section" id="personality_traits-selection" data-attribute="personality_traits" style="display: none;">
            <h1>Personality</h1>
            <div class="container">
              <div class="row">
              </div>
            </div>
          </div>



          <div class="character-attribute-section" id="personality_traits-selection2" data-attribute="personality_traits2" style="display: none;">
            <h1>Personality</h1>
            <div class="container">
              <div class="row">
              </div>
            </div>
          </div>



          <div class="character-attribute-section" id="ideal-selection" style="display: none;">
            <h1>Ideal</h1>
            <div class="container">
              <div class="row">
              </div>
            </div>
          </div>



          <div class="character-attribute-section" id="bond-selection" style="display: none;">
            <h1>Bond</h1>
            <div class="container">
              <div class="row">
              </div>
            </div>
          </div>


          <div class="character-attribute-section" id="flaw-selection" style="display: none;">
            <h1>Flaw</h1>
            <div class="container">
              <div class="row">
              </div>
            </div>
            <button class="hidden" id="confirm">Next!</button>
          </div>
      </div>
</div>
