<!-- <div class="character-story-generator"> -->
  <div class="container character-story-generator">
    <div class="row">
      <div class="generation-column character-attribute-list col-xs-13 col-lg-4">

        <div class="character-summary">
          <div class="stats-card">
            <div class="stats dl">
              <dl id="attributes-list">
              </dl>
            </div>
          </div>
        </div>

      </div>
      <div class="generation-column word-selection-column col-xs-13 col-lg-4">

        <div class="sentence-generator">
          <div class="btn-group build-buttons container">
            <div class="row">
                <% @starting_words.each do |word| %>
                  <div class="random-word-button col-xs-4 col-sm-4 col-md-4">

                      <button class="btn-word word-selection" href="#"><%= word.capitalize %></button>

                  </div>
                <% end %>
                <div class="random-word-button col-xs-4 col-sm-4 col-md-4">
                  <button class="btn-word word-selection" href="#"></button>
                </div>
            </div>
          </div>
          <%= button_tag "Generate some words", class: "master-button", id:"generate-sentence"%>
        </div>

      </div>
      <div class="generation-column col-xs-13 col-lg-4 story-column">

        <div class="character-sheet">
          <div class="character-sheet-head">
            <%= image_tag "top_edge.png", class:"paper"%>
          </div>
          <div class="character-sheet-body">
            <div class="title">
              <p>Your Backstory</p>
            </div>
            <div class="story">
              <%= text_area_tag 'story', "" %>
            </div>
          </div>
          <div class="bottom-edge">
            <%= image_tag "bottom_edge.png", class:"paper bottom"%>
          </div>
          <%= button_tag "Save", class: "master-button", id:"save-story" %>
          <%= button_tag "Restart", class: "master-button", id:"restart-story" %>
        </div>

      </div>
    </div>
  </div>
<!-- </div> -->


