<div class="character-build">
  <div>
    <% @starting_words.each do |word| %>
      <div class="row">
        <div class="col-md-12">
          <a class="btn word-selection" href="#"><%= word.capitalize %></a>
        </div>
      </div>
    <% end %>
  </div>
  <div class="character-sheet">
    <div class="character-sheet-head">
      <%= image_tag "top_edge.png", class:"paper"%>
    </div>
    <div class="character-sheet-body">
      <div class="stats"></div>
      <div class="story">
        <div>
          <%= text_area_tag 'story', "", size: "58x15" %>
          <%= button_tag "SAVE STORY", class: "btn", id:"save-story" %>
        </div>
      </div>
    </div>
    <div>
    <%= image_tag "bottom_edge.png", class:"paper"%>
    </div>
  </div>
</div>

<script>
  let respond = true
  const storyary = []
  const story = document.getElementById("story")
  const wordbuttons = document.querySelectorAll("a.word-selection");
  wordbuttons.forEach(function(wordbutton) {
    wordbutton.addEventListener("click", (event) => {
      var word = event.srcElement.innerText;
      if(respond) {
        respond = false
        fetch(`<%= generate_story_path %>?word=${word}`, {
          credentials: "same-origin"
        })
        .then(response => {
          return response.json();
        })
        .then((data) => {
          respond = true
          // grab array of new words
          data.suggestions.forEach(function(suggestion, index) {
            wordbuttons[index].innerText = suggestion
          });
          // replace all existing word buttons with new words
          storyary.push(data.word)
          story.value = storyary.join(' ')
          });
        }
      });
    });
  const attributes = document.getElementById("attributes").children
  const save = document.getElementById("save-story")
  save.addEventListener("click", (event) => {
    fetch("/characters", {
      method: 'post',
      actions: 'create',
      headers:{
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        'Content-Type': 'application/json',
      },
      credentials: 'same-origin',
      body: JSON.stringify({
        name: attributes.character_name.value,
        race: attributes.race.value,
        job: attributes.character_job.value,
        alignment: attributes.character_alignment.value,
        background: attributes.character_background.value,
        story: story.value
      })
    }).then((response) => {
      window.location = "/characters";
    });
  });
</script>
