<div class="index-container">
  <!-- <div class="character-grid"> -->
  <div class="container margin-bottom-30">
    <div class="row">
      <h1 align="center" class="index-title">The Tavern</h1>
      <% @characters.each_with_index do |character| %>
        <%= link_to character_path(character) do %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="character-card">
              <%= image_tag character.photo, :class => "avatar" %>
              <div class="character-card-content">
                <div class="content-header-tavern">
                  <div class="inner-header">
                    <h4><%= character.name %></h4>
                    <p> created by <b><%= character.user.username %></b></p>
                  </div>
                </div>
                <div class="content-body-tavern">
                  <div class="character-bio">
                    <%= truncate(character.story, :length => 90) %>
                  </div>
                  <div class="pints">
                    <span><%= character.rating %><%= image_tag 'pint.png', class:"pint_icon"%></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
